{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/cloud.css'|asseturl }}">
{% endblock %}

{% block content %}

  <section class="alert alert-warning" role="alert">
    {% trans trimmed %}
      <strong>Warning:</strong> A FreedomBox server running in the public cloud
      does not provide the same legal and privacy protections that a FreedomBox
      running on your own hardware at home does. Please use the following for
      trial purposes only.
      <a href="https://wiki.debian.org/FreedomBox/Cloud#Risks_of_cloud-hosting">
        Learn more</a>.
    {% endtrans %}
  </section>

  <section class="servers">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="img img-aws"></div>
          <div class="card-body">
            <h5 class="card-title">{{ _("Amazon Web Services") }}</h5>
            <a href="{{ '/cloud/aws'|url }}" class="btn btn-primary"
               role="button">{{ _("Create FreedomBox instance") }}</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card aws-card">
          <div class="img img-debian"></div>
          <div class="card-body">
            <h5 class="card-title">{{ _("Debian Cloud Server") }}</h5>
            <a href="{{ '/cloud/debian'|url }}" class="btn btn-primary"
               type="button">{{ _("Install FreedomBox") }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
