{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/community.css'|asseturl }}">
{% endblock %}

{% block content %}
  <h2>{{ _("About Our Community") }}</h2>

  <p>
    {% trans trimmed %}
      The FreedomBox software project is governed by a community that includes
      part-time volunteers and full-time contributors. In governance, we rely on
      our written code of conduct and mutually enforced standards. The community
      aims to make decisions through open discussion and consensus. In cases of
      disagreement, the community discusses until a resolution has been found or
      agrees to postpone the discussion. Though a select number of our
      developers have the power to accept merge requests, anyone is welcome to
      join our contributor community and submit code or non-code contributions.
    {% endtrans %}
  </p>

  <h2>{{ _("Core Team") }}</h2>

  <p>
    {% trans trimmed %}
      Meet the members of our core team! Though several community members make
      contributions, the core team consists of those who are most involved in
      the development of FreedomBox.
    {% endtrans %}
  </p>

  <ul class="core-team">
    <li>
      <div class="icon">
        <img src="/images/sunil_icon.png" alt="Sunil Mohan Adapa" />
      </div>
      <div class="name">Sunil Mohan Adapa</div>
      <div class="role">Lead Developer &amp; Code Reviewer</div>
      <address>
        <a href="mailto:sunil@medhas.org">{{ _("Email") }}</a>
      </address>
    </li>

    <li>
      <div class="icon">
        <img src="/images/joseph_icon.png" alt="Joseph Nuthalapati" />
      </div>
      <div class="name">Joseph Nuthalapati</div>
      <div class="role">DevOps Engineer, Developer, &amp; Code Reviewer</div>
      <address>
        <a href="mailto:njoseph@riseup.net">{{ _("Email") }}</a>
        | <a href="https://social.masto.host/@njoseph">{{ _("Social") }}</a>
        | <a href="https://njoseph.me/">{{ _("Website") }}</a>
      </address>
    </li>

    <li>
      <div class="icon">
        <img src="/images/james_icon.png" alt="James Valleroy" />
      </div>
      <div class="name">James Valleroy</div>
      <div class="role">Release Manager, Developer, &amp; Code Reviewer</div>
      <address>
        <a href="mailto:jvalleroy@mailbox.org">{{ _("Email") }}</a>
        | <a href="https://fosstodon.org/@jvalleroy">{{ _("Social") }}</a>
      </address>
    </li>
  </ul>

  <h2>{{ _("Contributors") }}</h2>

  <p>
    {% trans trimmed %}
      Though our core team is small, hundreds of volunteers have made
      contributions to FreedomBox throughout the years. Many of those
      contributors are listed <a
      href="https://wiki.debian.org/FreedomBox/Contributors">here</a>.
      We thank them for their work!
    {% endtrans %}
  </p>

  <h2>{{ _("How Decisions are Made") }}</h2>

  <p>
    {% trans trimmed %}
      Generally, decisions about software development and design are discussed
      by members of the core team and implemented using our open software
      development platform (i.e. GitLab). Many of the decisions made by our team
      are uncontroversial and don’t require extended periods of discussion.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      But sometimes, extended periods of discussion are necessary. For proposals
      that could plausibly be subject to disagreement, we use a “Request for
      Comments” (RFC) procedure. RFC’s should be posted to one of our open
      development platforms (i.e. Gitlab or the forum) and should include (1) a
      written summary, sketch, or mock-up of the proposal, (2) a brief
      explanation of why the proposal is needed, and (3) a list of action items
      required to implement the proposal. Optionally, one may also include in
      the RFC a fourth item: a suggested timeline for the discussion process in
      order to prevent unnecessary delays. Sometimes, disagreements make it
      difficult to follow prescribed timelines; in such cases, participants
      should make efforts in good faith to compromise and, failing that, can
      extend the discussion.
    {% endtrans %}
  </p>

  <h2>{{ _("Improvement by Revision") }}</h2>

  <p>
    {% trans trimmed %}
      In general, when proposals regarding software development or design are
      accepted, these proposals are treated as revisable, not permanent. This
      improvement-by-revision approach to proposals enables us to accept
      generally solid proposals without dwelling on minor details. Minor tweaks
      to accepted proposals can always be made later instead of upfront. Like
      the original proposal, revisions are subject to discussion and can’t be
      made unilaterally. In the spirit of experimentation, we embrace
      revisability in order to foster incremental improvements to our software.
    {% endtrans %}
  </p>

{% endblock %}
